.pokedexMain {
  @include container;
}
.presentation {
  margin: $spaceDefault 0;
  @include utilBackground;
  @include flex(s, wrap);
  h1::after {
    display: none;
  }
  div {
    flex: 1 1 280px;
    margin-right: $spaceDefault;
    @include d(t) {
      margin-right: 0;
    }
    span {
      color: $yellow;
      text-shadow: 2px 1px 0px #356fae, 
                  -1px 0px 0px #356fae, 
                   1px 2px 0px #356fae, 
                   0px 3px 0px #356fae;
    }
  }
  img {
    flex: 2 1 280px;
    padding: $spaceDefault 0;
  }
}

.history {
  
  @include flex(s, wrap);
  div {
    flex: 1 1 280px;
  }
  .historyIssue {
    @include utilBackground;
    margin-right: $spaceDefault;
    @include flex(s);
    flex-direction: column;
    @include d(m) {
      margin-right: 0;
      flex-basis: 100%;
      margin-bottom: $spaceDefault;
    }
    img {
      margin: $spaceDefault 0;
      @include d(m) {
        margin: 0 auto;
        margin: $spaceDefault 0;
        order: 1;
      }
    }
  }
  .curiosity {
    @include utilBackground;
    img {
        margin-bottom: $spaceDefault;
    }
  }
}

.information {
  margin: $spaceDefault 0;
  @include utilBackground;
  position: relative;
  span {
    color: $yellow;
  }
  form {
    padding: $spaceDefault 0;
    @include flex(s, wrap);
    div {
      @include flex(s);
      flex-direction: column;
    }
    .informationSelect {
      width: 150px;
      margin-right: $spaceDefault;
    }
    #selectType {
      height: 34px;    
    }
    .informationSearch {
      flex: 1;
      span {
        display: flex;
        input[type="search"]{
          flex: 10 1 180px;
        }
        input[type="submit"] {
          flex: 1 1 100px;
          box-sizing: border-box;
          background-color: $yellow;
          font-weight: bold;
          color: $white;
          padding: 0;
          margin-left: $spaceDefault;
          border: 2px solid $yellow;
          cursor: pointer;
          border-radius: 4px;
          outline: none;
          &:hover {
            background: $blue;
          }
        }
      }
    }
  }
  .contentLists {
    @include flex(s, wrap);
    @include d(m) {
      flex-direction: column;
    }
    .pokemonListContent {
      @include flex(s, wrap);
    }
    .teste {
      background: #356fae;
      flex: 1;
    }
    .pokemonListByName {
      flex: 1;
      display: grid;
      padding: $spaceDefault 0;
      transition: all 1s;
      position: relative;
      .containerButtons {
        margin: 0 auto;
        margin-top: $spaceDefault;
      }
      .detailsInfos {
        flex: 1;
        min-height: 470px;
        @include d(m) {
          min-height: 570px;
        }
      }
      .details, .evolutions {
        flex: 1;
        border-left: 1px solid $white;
        margin: 0 auto;
        padding-left: $spaceDefault;
        @include d(m) {
          border-left: none;
        }
      }
      .habilidades, .types {
        li {
          &:hover {
            cursor: pointer;
            color: $blue;
          }
        }
      }
      .infosAbilities {
        min-height: 180px;
        max-width: 250px;
        margin-right: $spaceDefault;
        background: $blue !important;
        padding: 5px;
        border-radius: 4px;
        box-shadow: $shadowC;
        margin-bottom: $spaceDefault;
        @include d(m) {
          min-height: 240px !important;
        }
        p {
          color: #000;
        }
      }
      .evolutions li {
        cursor: pointer;
        &:hover {
          color: $blue;
        }
        &:hover span {
          color: $blue;
        }
      }
      button {
        width: 153px;
        margin: $spaceDefault 0;
        padding: 0 $spaceDefault;
        background: $yellow;
        @include tipo-1(16, $white);
        font-weight: bold;
        border: 2px solid $yellow;
        cursor: pointer;
        border-radius: 4px;
        outline-style: none;
        &:hover {
          background: $blue;
        }
      }
      button + button {
        margin-left: $spaceDefault;
        @include d(m) {
          margin: 0 0 $spaceDefault $spaceDefault;
        }
      }
      .buttonActive {
        background: $blue;
      }
      img {
        margin: 0 auto;
        margin-bottom: $spaceDefault;
        align-self: flex-start;
        width: 200px;
        height: 200px;
      }
      li {
        margin-left: $spaceDefault;
        @include d(m) {
          margin-left: 0;
        }
        span {
          color: $white;
          @include d(m) {
            display: none;
          }
        }
      }
    }
  }
  .error {
    position: absolute;
    width: 100%;
    height: 93%;
    top: 0;
    left: 0;
    @include flex(c);
    padding:$spaceTitle;
    @include tipo-2(24, $white);
    @include d(m) {
      font-size: em(18);
    }
    border-radius: 4px;
    background: rgba(255, 0, 0, .9);
    p {
      padding: 20% $spaceDefault;
      @include d(m) {
        padding: 70% $spaceDefault;  
      }
    }
  }
}
.modal {
  background: rgba(0, 0, 0, .9);
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 0 $spaceDefault;
  position: absolute;
  top: 0;
  left: -10px;
  scrollbar-color: $yellow #C2D2E4;
    &::-webkit-scrollbar {
      width: 18px;
    }
    &::-webkit-scrollbar-thumb {
      background: $yellow;
      border-left: 4px solid #C2D2E4;
      border-right: 4px solid #C2D2E4;
    }
    &::-webkit-scrollbar-track {
      background: #faf6ed;
    }
  span {
    color: $white;
    background: $yellow;
    @include flex(c);
    align-items: center;
    width: 40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    margin:$spaceDefault $spaceDefault 0 auto;
    cursor: pointer;
    font-weight: bold;
    font-size: em(24);
    box-shadow: $shadowC;
    &:hover {
      background: $blue;
    }
  }
  li {
    margin: 5px 0;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
}

