$fontColor1: #2c3e50;
$blue: #45B2F5;
$white: #fff;
$black: #000;
$red: #c82333;
$yellow: #FFCB05;

$colorBackground: rgba(0, 0, 0, .8);

$spaceDefault: 10px;
$spaceTitle: 40px 0;

$shadowC: 0 2px 4px 0 rgba(0, 0, 0, .08),
0 4px 8px 5px rgba(0, 0, 0, .2);
$shadowE: 3px 4px 4px 2px rgba(0, 0, 0, .2),
4px 6px 8px 2px rgba(0, 0, 0, .4);

$fonte-1: 'Open Sans', sans-serif;
$fonte-2: 'Red Hat Display', sans-serif;


@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto+em;
}

@mixin container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 $spaceDefault;
}

@mixin  utilBackground {
  padding: 0 $spaceDefault;
  background: $colorBackground;
  border-radius: 4px;
  box-shadow: $shadowE;
}

@mixin containerImgDemos {
  width: 141px;
  height: 175px;
  border: 2px solid $yellow;
  box-shadow: $shadowC;
  border-radius: 4px;
  margin: 5px;
  @include flex(c);
  flex-direction: column;
  align-items: center;
}

@mixin flex($position, $wrap:nowrap) {
  display: flex;

  @if $position==s {
      justify-content: flex-start;
  }

  @else if $position==c {
      justify-content: center;
  }

  @else if $position==e {
      justify-content: flex-end;
  }

  flex-wrap: $wrap;
}

@mixin tipo-1($size, $color: $fontColor1) {
  font-family: $fonte-1;
  color: $color;

  @if $size==14 {
    font-size: em(14);
    line-height: em(30, 14);
  }

  @else if $size==16 {
      font-size: em(16);
      line-height: em(30);
  }

  @else if $size==18 {
      font-size: em(18);
      line-height: em(30, 18);
  }

  @else if $size==24 {
      font-size: em(24);
      line-height: em(30, 24);
  }

  @else if $size==28 {
      font-size: em(28);
      line-height: em(30, 28);
  }
}

@mixin tipo-2($size, $color: $fontColor1) {
  font-family: $fonte-2;
  color: $color;

  @if $size==14 {
      font-size: em(14);
      line-height: em(30, 14);
  }

  @else if $size==16 {
      font-size: em(16);
      line-height: em(30);
  }
  @else if $size==18 {
    font-size: em(18);
    line-height: em(30, 18);
  }

  @else if $size==24 {
      font-size: em(24);
      line-height: em(30, 24);
  }

  @else if $size==28 {
      font-size: em(28);
      line-height: em(30, 28);
  }
}

//Media-queries
@mixin d($dispositivo) {
  @if $dispositivo==p {
    @media (max-width: 1130px) {
        @content;
    }
  }
  @if $dispositivo==t {
      @media only screen and (min-width: 768px) and (max-width: 959px) {
          @content;
      }
  }

  @else if $dispositivo==m {
      @media only screen and (max-width: 767px) {
          @content;
      }
  }
}